.footer{
    width: 100%;
    height: 250px;
    /* border-top:  3px solid #FF318E; */
    padding-top: 30px;
    /* border: 1px solid black; */
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footerLogo{
    width: 90%;
    height: 10%;
    border: 1px solid black;
    display: flex;
    /* justify-content: space-around; */
}
.footerLogo img{
    width: 150px;
    height: 100%;

}


.midFooter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70%;
}
.footerLinks{
    width: 20%;
    height: 60%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footerLinks ul{
    /* border: 1px solid black; */
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.newsletter{
    width: 40%;
    height: 60%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.newsLetterInput{
    width: 100%;
    height: 40%;
    border: 2px solid rgb(255, 0, 0);
    display: flex;
    justify-content: center;
}
.newsLetterInput input{
    border: 1px solid black;
    outline: 0;
    width: 60%;
    height: 100%;
    padding-left: 10px;
}
.newsLetterInput button{
    width: 30%;
    height: 100%;
    background-color: #FF318E;
    border: 0;
    color: white;
}

.socials{
    width: 30%;
    height: 60%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.socialIcons{
    width: 100%;
    height: 80%;
    /* align-items: center; */
    display: flex;
    justify-content: start;
    gap: 30px;
    /* border: 1px solid black; */
}
.socialIcons i{
    font-size: 20px;
}


.copyright{
    width: 100%;
    height: 20%;
    /* background-color: rgba(255, 0, 0, 0.591); */
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 1080px) {
    .footer{
        border: 1px solid black;
    }
}
@media screen and (max-width: 865px) {
    .newsletter{
        border: 1px solid black;
    }
}
@media screen and (max-width: 860px) {
    .footer{
        height: 300px;
    }
}
@media screen and (max-width: 682px) {
    .footer{
        height: 600px;
    }
    .midFooter{
        display: flex;
        flex-direction: column;
    }
    .footerLinks, .newsletter{
        border: 1px solid black;
        width: 90%;
    }
    .socials{
        text-align: center;
        border: 1px solid black;
        width: 90%;
    }
    .socialIcons{
        justify-content: center;
    }
}