<div class="footer">
    <div class="footerLogo">
        <img src="zaiganTxt.png" alt="" class="footerLogoImg">
    </div>

    <div class="midFooter">
        <div class="footerLinks">
            <ul>
                <li>About Us</li>
                <li>Privacy Policy</li>
                <li>Terms of Service</li>
                <li>Help Center</li>
                <li>Blog</li>
            </ul>
        </div>

        <div class="newsletter">
            <h3>Subscribe to our Newsletters</h3>

            <div class="newsLetterInput">
                <input type="text" placeholder="zaiganAI@gmail.com">
                <button>Subscribe</button>
            </div>
            
        </div>

        <div class="socials">
            <h3>Follow us on our social media platforms</h3>
            <div class="socialIcons">
                <i class="bi bi-instagram"></i>
                <i class="bi bi-twitter-x"></i>
                <i class="bi bi-youtube"></i>
                <i class="bi bi-linkedin"></i>
            </div>
        </div>
    </div>

    <div class="copyright">
        <p>&copy; Copyright, All Rights Reserved, ZaiganAI 2025</p>
    </div>
</div>

