.navBox{
    width: 100%;
    height: 80px;
    /* background-color: rgba(245, 245, 245, 0.265); */
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    z-index: 100;
    position: fixed;
}
nav{
    width: 100%;
    height: 80px;
    /* background-color: transparent; */
    /* background-color: rgba(255, 255, 255, 0.146); */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    top: 0px;
    position: fixed;
    z-index: 100;
}
nav {
    transition: background-color 0.4s ease;
}
  
nav.scrolled {
    background-color: rgba(66, 66, 66, 0.167);
    width: 90%;
    border-radius: 30px;
    transition: 0.8s;
    top: 5px;
    backdrop-filter: blur(40px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* nav.scrolled .navBox{
    top: 5px;
} */
nav.scrolled .navLinks{
    width: 400px;
}
.navLogo{
    width: 200px;
    height: 70%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: end;
    align-items: center;
}
.navLogo img{
    width: 80%;
    height: 100%;
    cursor: pointer;
    /* background-color: goldenrod; */
    /* border: 1px solid rgb(179, 245, 197); */
}
.navLinks{
    width: 600px;
    height: 80%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLinks a{
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
}
.navLinks a:hover{
    color: #F3265F;
    /* border-bottom: 2px solid #FF318E; */
}
#logInBtnNavLinks{
    display: none;
}
.user{
    width: 200px;
    height: 70%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.logInBtn{
    /* background-color: black; */
    /* color: #FF318E; */
    /* border: 0; */
    /* border-radius: 30px; */
    background-color: transparent;
    border: 3px solid #F3265F;
    /* border-radius: 30px; */
    padding: 10px;
    width: 70%;
    height: 80%;
    /* width: 200px; */
    cursor: pointer;
    font-size: 15px;
    color: white;
}
.logInBtn:hover{
    background-color: #F3265F;
    color: white;
    transition: 1s;
}
.bi-person{
    font-size: 30px !important;
    color: #F3265F !important;
    background-color: #000000;
    border-radius: 50%;
    padding: 3px 6px;
}
.userImg{
    width: 35%;
    height: 100%;
    border-radius: 50%;
    padding: 1px;
    border: 3px solid #F3265F;
    /* animation: pulse 2s linear infinite; */
    cursor: pointer;
}
@keyframes pulse{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.95);
    }
    100%{
        transform: scale(1);
    }
}
.hoverBox {
    display: block;
    position: absolute;
    width: 170px;
    top: 80px;
    height: 150px;
    right: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #ffffff;
    padding: 10px;
    /* border: 1px solid #ddd; */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 100;
    backdrop-filter: blur(200px);
  }
  .hoverBox p{
    font-size: 14px;
  }
.hoverBox::before{
    position: fixed;
    width: 100px;
    height: 700px;
    content: '';
    background-image: linear-gradient(
      to right, #d02e23, #7a43b6
    );
    z-index: -1;
    top: 0px;
    left: calc(50% - 200px);
    border-radius: 50% 50% 0 0;
    pointer-events: none;
    filter: blur(250px)
  }
.acctLinks{
    color: #969696;
    display: flex;
    gap: 5px;
    text-decoration: none;
    cursor: pointer;
}
/* .hoverBox p:hover, .hoverBox a:hover{
    background-color: #d8d8d8;
} */
.acctControls{
    width: 100%;
    height: 80%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
}
.acctType{
    color: #F3265F;
    background-color: transparent;
    background-color: #f3266038;
    /* border-radius: 30px; */
    /* padding: 10px; */
    cursor: pointer;
    border: 0;
    font-size: 15px;
    width: 50%;
    height: 30px;
}

.bi{
    font-size: 17px;
    color: #F3265F;
}




.menu-toggle {
    display: block;
    font-size: 30px;
    cursor: pointer;
    color: black;
}


#checkbox {
    display: none;
  }
  
  .toggle {
    /* position: fixed; */
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 5%;
    /* border: 2px solid black; */
    transition-duration: .5s;
  }
  
  .bars {
    width: 100%;
    height: 5px;
    background-color: #F3265F;
    border-radius: 4px;
  }
  
  #bar2 {
    transition-duration: .8s;
  }
  
  #bar1,#bar3 {
    width: 70%;
  }
  /* OPEN STATE */
.toggle.open .bars {
    position: absolute;
  }
  
  .toggle.open #bar2 {
    transform: scaleX(0);
  }
  
  .toggle.open #bar1 {
    width: 100%;
    transform: rotate(45deg);
  }
  
  .toggle.open #bar3 {
    width: 100%;
    transform: rotate(-45deg);
  }
  
  .toggle.open {
    transform: rotate(180deg);
  }

/* Default hidden for small screens */
@media screen and (max-width: 1066px) {
    nav{
        justify-content: space-between;
    }
    .user{
        width: 100px;
        gap: 30px;
        /* border: 1px solid black; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .bi-person{
        font-size: 23px !important;
    }
    .navLogo{
        width: 150px;
        /* border: 1px solid black; */
    }
    .navLogo img{
        width: 80%;
        height: 100%;
    }
    .navLinks {
      display: none;
      position: absolute;
      top: 70px;
      /* left: 0; */
      background-color: rgba(11, 11, 11, 0.984);
        transition: 0.8s;
        backdrop-filter: blur(100px);
      flex-direction: column;
      /* justify-content: center; */
      align-items: start;
      width: 96%;
      height: 300px;
      padding: 1rem;
      z-index: 1000;
      border-radius: 30px;
      /* gap: 50px; */
      text-align: center;
    }
    nav.scrolled .navLinks{
        width: 95%;
        /* margin-right: 10px; */
    }
    /* .navLinks a{
        color: white;
    } */
    .navLinks.active {
      display: flex;
    }
  
    .toggle {
      display: flex;
      flex-direction: column;
      width: 40px;
      height: 40px;
      justify-content: space-evenly;
      cursor: pointer;
      /* border: 1px solid black; */
      top: 20px;
    }
  
    .bars {
      height: 3px;
      background-color: #F3265F;
      border-radius: 4px;
      width: 100%;
    }
  
    .menu-toggle {
      display: flex;
    }
    #logInBtn{
        display: none;
    }
    #logInBtnNavLinks{
        display: block;
        color: white;
        height: 50px;
        width: 40%;
        align-self: center;
    }
    nav.scrolled{
        /* align-self: center; */
        /* right: 20px; */
        height: 60px;
    }
    /* nav.scrolled .logInBtn{
        color: black;
    } */
  }
  

@media screen and (max-width: 701px){
    nav.scrolled .navLinks{
        width: 94%;
        /* margin-right: 10px; */
    }
}

@media screen and (max-width: 569px){
    nav.scrolled .navLinks{
        width: 93%;
        /* margin-right: 10px; */
    }
}

@media screen and (max-width: 490px){
    nav.scrolled .navLinks{
        width: 91%;
        /* margin-right: 10px; */
    }
}

/*  */