<div class='loginBox'>
    <div class="loginBox2">
      <img src="loginAdmin.png" alt="" class='loginAdminImg' />

      <form class="userLoginForm">

        <div class="formLogoBox">
          <img src="zaiganLogo.png" alt="" class='formLogo'/>  
        </div>
        
        <div class="username">
          <label>Email</label>
          <div class="inputForm">
            <i class="bi bi-gmail"></i>
            <input 
              type="text"
              class="loginInput"
              placeholder="Enter your username"
            />
          </div>
        </div>    

        <div class="password">
          <label>Password</label>
          <div class="inputForm">
            <i class="bi bi-key"></i>     
            <input 
              type="password"
              class="loginInput"
              placeholder="Enter your password"
            />
          </div>
        </div>

        <div class="forgotPass">
          <span class="span">Forgot password?</span>
        </div>

        <div class="s">
          <button type="submit" class="signInBtn">
            Log In
          </button>
        </div>
      </form>
    </div>
    <!-- <ToastContainer /> -->
</div>