<div class="dashboard" [class.collapsed]="isCollapsed">
    <app-sidenav [isCollapsed]="isCollapsed"></app-sidenav>
  
    <section class="dashboardContentBox">
      <app-sidenavheader (toggle)="toggleSidenav()"></app-sidenavheader>
  
        <section class="dashboardContent">
            <div class="totalTransactions">
                <h3>Total Transactions (Today)</h3>

                <div class="totalTransactionsBox">
                    <i class="bi bi-bank2" style="color: #6221f3; background-color: #6221f31c"></i>
                    <div class="totalTransactionsTxt">
                        <p>Number of transactions: 5</p>
                        <p>Amount: $127,000</p>
                    </div>
                </div>
                
            </div>

            <div class="anomalyOverview">
                <h3>Anomaly Overview (Today)</h3>
                <div class="anomalyOverviewBox">
                    <div class="moderateAnomalies">
                        <i class="bi bi-exclamation-triangle-fill" style="color: orangered; background-color: #ffd2cf"></i>
                        <div class="anomalyTxt">
                            <h4>Moderate Anomalies</h4>
                            <p>12</p>
                        </div>
                    </div>
                    <div class="criticalAnomalies">
                        <i class="bi bi-shield-fill-exclamation" style="color: crimson; background-color: rgb(255, 211, 220);"></i>
                        
                        <div class="anomalyTxt">
                            <h4>Critical Anomalies</h4>
                            <p>7</p>
                        </div>
                    </div>
                    <button>Get More Insight</button>
                </div>
                
            </div>

            <div class="anomalyDetectionRate">
                <h3>Detection Rate</h3>
            </div>
            <div class="monthlyTransactionsOverview">
                <h3>Monthly Transactions Overview</h3>
            </div>
            <div class="riskScoreOverview">
                <h3>Risk Score Overview</h3>
            </div>
        </section>
    </section>
</div>