<section class="heroBanner">
    <div id="heroTxt">
      <h1>"Empower Your Financial Security with <span class="nameSpan">AI-Driven</span> Anomaly Detection"</h1>
      <p>Detect fraudulent activity and financial anomalies in real-time, ensuring secure transactions for your business & accounts.</p>
        <button class="getStarted"><b>Get Started</b></button>
    </div>

    <img src="ai.jpg" alt="" class="aiImg">
    <!-- <img src="financeAnalysis.png" alt="" class="aiImg"> -->
</section>

<section class="keyFeatures">
    <h1>Key Features</h1>

    <div class="keyFeaturesBody">
        <div>
            <fa-icon [icon]="faWarning" style="color: #e04e10;"></fa-icon>
            <h3>Real-Time Anomaly Detection</h3>
            <p>Automatically flag suspicious financial transactions.</p>
        </div>

        <div>
            <fa-icon [icon]="faAlert" style="color: #eacb1b;"></fa-icon>
            <h3>Customizable Alerts</h3>
            <p>Set thresholds and receive notifications on potential fraud.</p>
        </div>

        <div>
            <fa-icon [icon]="faChart" style="color: #a1e010;"></fa-icon>
            <h3>Data-Driven Insights</h3>
            <p>Gain in-depth reports and insights on detected anomalies</p>
        </div>

        <div>
            <fa-icon [icon]="faCog" style="color: #1086e0;"></fa-icon>
            <h3>Integration-Ready</h3>
            <p>Easily integrate with your existing financial systems.</p>
        </div>
    </div>
    
</section>

<section class="howItWorks">
    <div class="howItWorksHead">
        <h1>
            How
            <img src="zaiganTxt.png" alt="" class="howitworksimg">
            AI Works
        </h1>
    </div>
    

</section>
