<section class="heroBanner" id="home">
    <div id="heroTxt">
        <!-- <div class="leftQuoteIcon">
            <i class="quotes" style="margin-right: 60px"><fa-icon [icon]="faQuoteLeft"></fa-icon></i>
        </div> -->
      <h1>
        <i class="quotes" style="left: 10px;"><fa-icon [icon]="faQuoteLeft"></fa-icon></i>
        Empower Your Financial Security with <span class="nameSpan">AI-Driven</span> Anomaly Detection
        <i class="quotes" style="left: -10px;"><fa-icon [icon]="faQuoteRight"></fa-icon></i>
      </h1>
      <p>Detect fraudulent activity and financial anomalies in real-time, ensuring secure transactions for your business & accounts.</p>
      <button class="getStarted"><b>Get Started</b></button>
    </div>

    <img src="ai.jpg" alt="" class="aiImg">
    <!-- <img src="financeAnalysis.png" alt="" class="aiImg"> -->
</section>

<section class="keyFeatures">
    <h1 class="sectionHeads">Key Features</h1>

    <div class="keyFeaturesBody">
        <div>
            <fa-icon [icon]="faWarning" style="color: #e04e10;"></fa-icon>
            <h4>Real-Time Anomaly Detection</h4>
            <p>Automatically flag suspicious financial transactions.</p>
        </div>

        <div>
            <fa-icon [icon]="faAlert" style="color: #d8b800;"></fa-icon>
            <h4>Customizable Alerts</h4>
            <p>Set thresholds and receive notifications on potential fraud.</p>
        </div>

        <div>
            <fa-icon [icon]="faChart" style="color: #a1e010;"></fa-icon>
            <h4>Data-Driven Insights</h4>
            <p>Gain in-depth reports and insights on detected anomalies</p>
        </div>

        <div>
            <fa-icon [icon]="faCog" style="color: #1086e0;"></fa-icon>
            <h4>Integration-Ready</h4>
            <p>Easily integrate with your existing financial systems.</p>
        </div>
    </div>
    
</section>

<section id="howItWorks"></section>

<section class="howItWorks">
    <div class="howItWorksHead">
        <h1 class="sectionHeads">
            How
            <img src="zaiganLogo.png" alt="" class="howitworksimg">
            AI Works
        </h1>
    </div>
    
    <div class="steps">
        <div class="step1">
            <div class="step1Txt">
                <h2>STEP 1:</h2>
                <h3>Connect your transaction data to ZaiganAI.</h3>
                <p>ZaiganAI easily connects to your existing financial infrastructure—whether you're using banking systems, payment processors, or ERP platforms. With support for standard data formats (CSV, JSON, APIs), onboarding is frictionless.</p>
                <p>🔒 End-to-end encryption ensures your financial data stays private and secure.</p>
            </div>
            <div class="step1Img">
                <img src="step1.jpg" alt="">
            </div>
        </div>
    
        <div class="step2">
            <div class="step2Img">
                <img src="step2.jpg" alt="">
            </div>
            <div class="step2Txt">
                <h2>STEP 2:</h2>
                <h3>Real-Time AI Monitoring with High Accuracy</h3>
                <p>Once connected, ZaiganAI’s machine learning models immediately begin analyzing your transaction data in real time. Our AI is trained to detect: Unusual transaction patterns, Suspicious transfers, Policy violations, Potential fraud based on behavioral modeling and historical baselines. </p>
                <p>📊 Every transaction is scored for risk, categorized by anomaly type.</p>
            </div>
        </div>
    
        <div class="step1">
            <div class="step1Txt">
                <h2>STEP 3:</h2>
                <h3>Smart Alerts and Actionable Insights</h3>
                <p>When anomalies are detected, ZaiganAI instantly notifies your team via: In-app alerts, Email or SMS. You’ll be able to: View detailed anomaly reports or Drill down into flagged transactions. Our platform helps your compliance or risk team respond faster, reduce false positives, and improve decision-making with clear AI-backed evidence.</p>
                <p>🧠 ZaiganAI explains the “why” behind each detection with transparent model insights.</p>
            </div>
            <div class="step1Img">
                <img src="step3(2).jpg" alt="">
            </div>
        </div>
    </div>
    
</section>

<section id="whyUs"></section>

<section class="whyUs">
    <h1 class="sectionHeads">Why ZaiganAI?</h1>

    <div class="whyUsBody">
        <div>
            <fa-icon [icon]="faAI"></fa-icon>
            <h4>AI Powered</h4>
        </div>

        <div>
            <fa-icon [icon]="faScale"></fa-icon>
            <h4>Scalable</h4>
        </div>

        <div>
            <fa-icon [icon]="faLock"></fa-icon>
            <h4>Secure</h4>
        </div>

        <div>
            <fa-icon [icon]="faUser"></fa-icon>
            <h4>User Friendly</h4>
        </div>
    </div>
</section>
