/* hero.component.css */
.heroBanner{
    /* background-image: url('https://i.pinimg.com/736x/6f/ec/b7/6fecb7d723dd8c2e6fe5d96c4a2e56ee.jpg'); */
    /* background-size: cover;
    background-position: center; */
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
    /* text-align: center; */
    /* background-color: rgba(0, 0, 0, 0.461); */
    background-blend-mode: darken;
    margin-bottom: 70px;
    /* margin-top: 80px; */

}
.nameSpan{
    background-image: linear-gradient(to right, #F3265F, #7F40AC);
    background-size: 200% auto;
    animation: gradientAnimation 5s linear infinite;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
@keyframes gradientAnimation{
    to{
        background-position: 200% center;
    }
}
.getStarted{
    background-color: transparent;
    color: black;
    border: 3px solid #FF318E;
    padding: 15px;
    /* height: 50px; */
    width: 200px;
    animation: pulse 2s linear infinite;
    cursor: pointer;
    font-size: 15px;
}
@keyframes pulse{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.95);
    }
    100%{
        transform: scale(1);
    }
}
/* .getStarted:hover{
    background-color: transparent;
    color: black;
    transition: 1s;
} */
#heroTxt{
    /* border: 1px solid black; */
    width: 40%;
    height: 300px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
}
#heroTxt h1, #heroTxt p{
    color: black;
}
#heroTxt h1{
    font-size: 40px;
}
.aiImg{
    /* border: 1px solid black; */
    width: 40%;
    height: 400px;
    border-radius: 30px;
}



/* KEY FEATURES */
.sectionHeads{
    font-size: 30px;
}
.keyFeatures{
    width: 100%;
    height: 300px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 100px; */
}
.keyFeatures h1{
    color: black;
}
.keyFeaturesBody{
    width: 80%;
    /* border: 1px solid black; */
    height: 80%;
    display: flex;
    gap: 10%;
}
.keyFeaturesBody div{
    width: 26%;
    /* height: 100%; */
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    /* border: 1px solid black; */
    /* box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.221); */
    /* background-color: rgb(217, 217, 217); */
}
.keyFeaturesBody div:hover{
    border-bottom: 5px solid #FF318E;
}
fa-icon{
    font-size: 30px;
}
.quote{
    font-size: 20px;
}





/* HOW IT WORKS */
.howItWorks{
    width: 100%;
    height: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    /* justify-content: space-between; */
    /* background-color: brown; */
    /* border: 1px solid rgb(243, 0, 0); */
}
.howItWorksHead{
    /* border: 1px solid black; */
    height: 50px;
    display: flex;
    align-items: center;
}
.howItWorksHead h1{
    color: black;
}
.howitworksimg{
    width: 100px;
    height: 20px;
    /* border: 1px solid black; */
   
}
.steps{
    width: 70%;
    height: 90%;
    /* background-color: #ff318e69; */
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.step1{
    width: 100%;
    height: 300px;
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-between;
}
.step1Txt{
    width: 45%;
    height: 100%;
    /* border: 1px solid orangered; */
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.step1Img{
    width: 45%;
    height: 100%;
}
.step1Img img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.step2{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
}
.step2Txt{
    width: 40%;
    height: 100%;
    /* border: 1px solid orangered; */
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.step2Img{
    width: 50%;
    height: 100%;
}
.step2Img img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}



/* WHY ZAIGAN */
.whyUs{
    width: 100%;
    height: 200px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}
.whyUs h1{
    color: black;
}
.whyUsBody{
    width: 80%;
    /* border: 1px solid black; */
    height: 70%;
    display: flex;
    gap: 10%;
}
.whyUsBody div{
    width: 26%;
    /* height: 100%; */
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    /* box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.221); */
    /* background-color: rgb(217, 217, 217); */
}
.whyUsBody div:hover{
    border-bottom: 5px solid #FF318E;
}


#howItWorks, #whyUs{
    height: 100px;
    width: 100%;
}

@media screen and (max-width: 1080px) {
    .heroBanner{
        /* border: 1px solid black; */
        height: 500px;
        /* background-color: rgba(0, 0, 0, 0.29); */
    }
    #heroTxt h1{
        font-size: 30px;
    }
    .aiImg{
        height: 300px;
    }
}

@media screen and (max-width: 1000px) {
    .howItWorks{
        /* border: 1px solid black; */
        gap: 30px;
    }
    .steps, .step1, .step2{
        /* border: 1px solid black; */
    }
    .steps{
        width: 80%;
    }
}

@media screen and (max-width: 1075px) {
    .keyFeatures{
        width: 100%;
        /* border: 1px solid black; */
    }
    .keyFeaturesBody{
        width: 95%;
        /* border: 1px solid black; */
        gap: 20px;
    }
}

@media screen and (max-width: 845px) {
    .howItWorks{
        height: 1500px;
        /* background-color: rgba(255, 127, 80, 0.356); */
    }
    /* .step1, .step2{
        background-color: #ffa7cf;
    } */
    .step1, .step2{
        display: flex;
        flex-direction: column;
        height: 500px;
    }
    .step1Txt, .step2Txt, .step1Img, .step2Img{
        /* border: 1px solid black; */
        width: 100%;

    }
    .step1Img, .step2Img{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .step1Img img, .step2Img img{
        width: 50%;
        height: 90%;
    }
}

@media screen and (max-width: 785px) {
    .whyUs{
        /* border: 1px solid black; */
        height: 150px;
    }
    .whyUsBody{
        /* border: 1px solid black; */
    }
    .whyUsBody div h3{
        font-size: 16px;
    }
    fa-icon{
        font-size: 23px;
    }
}

@media screen and (max-width: 750px) {
    .heroBanner{
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: centere;
        /* background-color: rgba(0, 0, 0, 0.29); */
        justify-content: space-evenly;
        background-image: url('../../../public/ai.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgba(0, 0, 0, 0.507);
        background-blend-mode: darken;
    }
    .nameSpan{
        background-image: linear-gradient(to right, #ff4378, #be64ff);
        background-size: 200% auto;
        animation: gradientAnimation 5s linear infinite;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    #heroTxt{
        /* border: 1px solid black; */
        width: 50%;
        height: 300px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    #heroTxt h1{
        font-size: 30px;
        color: white;
        /* border: 1px solid black; */
    }
    #heroTxt p{
        color: white;
    }
    .aiImg{
        height: 300px;
        width: 60%;
        display: none;
    }
    .getStarted{
        color: white;
    }
    .keyFeatures{
        /* background-color: #ff4378; */
        height: 450px;
    }
    .keyFeaturesBody{
        display: flex;
        /* border: 1px solid black; */
        flex-wrap: wrap;
    }
    .keyFeaturesBody div{
        width: 30%;
    }
}

@media screen and (max-width: 666px) {
    .whyUs{
        /* border: 1px solid black; */
        height: 250px;
    }
    .whyUsBody div h3{
        font-size: 15px;
    }
    .whyUsBody{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        /* align-items: center; */
    }
    .whyUsBody div{
        width: 100%;
        /* border: 1px solid black; */
    }
}

@media screen and (max-width: 598px) {
    #heroTxt{
        width: 70%;
    }
    
    
}